/* div.parent {
  display: grid;
  min-height: 60dvh;      
  grid-template-rows: auto 1fr auto;

} */
body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

header {
  padding: 1.5rem;
  background: #111;
  color: white;
}

.grid-stack {
  padding: 1rem;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: span 9 / span 9;
    grid-column-start: 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 7;
}

.div6 {
    grid-column-start: 5;
    grid-row-start: 1;
}

.div7 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.div8 {
    grid-column-start: 5;
    grid-row-start: 5;
}

.div9 {
    grid-column-start: 5;
    grid-row-start: 7;
}
        